body, html {
    margin: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    zoom: 1.087;
    background-color: #f0f0f0;
}
  
.phone {
    width: 400px;
    height: 560px;
    border: 1px solid black;
    padding: 20px;
    position: relative; 
}
  
.scanner-area {
    border:3px dashed black; 
    width :80%; 
    height :40%; 
    margin:auto; 
    display:flex; 
    justify-content:center; 
    align-items:center;  
}
  
.scanner-area p {
    margin :20;
    font-size: larger;   
}
  
.scanning-text{
    position:absolute; 
    bottom :100px;
    font-size: larger;  
    left :50%;  
    transform :translateX(-50%);   
}